body{
  background-color: #28324E;
  color: white;
}

.willFlash {
  animation: flash 1.5s forwards linear infinite;
}
@keyframes flash {
  33% {
    background: #FAC51C;
  }
  33% {
    background: #00a885;
  }
  34% {
    background: #FAC51C; 
  }
}

.startFlash {
  animation: flash 7s forwards linear infinite;
}
@keyframes flash {
  33% {
    background: #00a885;
  }
  33% {
    background: #FAC51C;
  }
  34% {
    background: #00a885; 
  }
}

.startWrapper{
  position: relative;
}

.startBtn {
  width: 100%;
  position: absolute;
  top: 50%; 
  margin-top: 250px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #fff;
  font-size: 125px;
  font-weight: bold;
  background-color: #B8312F;
  text-transform: uppercase;
 /* margin: 350px auto;
  padding: 65px;*/
}

.playerCards {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
  background-color: #28324E;
  border: 4px solid #28324E;
  padding: 10px 20px;
}
.dealerCards {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
  background-color: #28324E;
  border: 4px solid #28324E;
  padding: 10px 20px;
} 

.messageContainer {
  padding: 30px;
  margin: 30px auto 0 auto; 
}

.playersScore {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #E25041;
  color: #fff;
  padding: 10px;
  max-width: 200px;
  margin: 0 auto;
}

.winnerMessage {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 40px;
  width: 80%;
  min-height: 100px;
  background-color: #00A885;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.rstContainer{
  padding: 30px;
}

.restartButton {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 30px;
  width: 80%;
  color: #28324E;
  background-color: #FAC51C; 
  margin: 0 auto;

}

.aceChoice{
  padding: 15px;
  text-align: center;
}

.aceButtons {
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px; 
  color: #28324E;
  background-color: #FAC51C;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 10px;
}

.hitMeBtn, .standBtn{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 40px;
  padding: 10px;
  color: white;
  background-color: #00A885;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 10px 30px 10px;
}

.hitMeBtn:hover, .standBtn:hover {
  box-shadow: 0 0px 0px rgba(0,0,0,0.0), 0 0px 0px rgba(0,0,0,0.2);
  background-color: #1ABC9C;
} 

.playerCard, .dealerCard {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  display: inline-flex;
  width: 100px;
  height: 150px;
  margin: 10px;
  background-color: #E25041;
} 

.coverCard {
  position: absolute;
  width: 100px;
  background: #E25041;
  height:150px;
  z-index: 1;
  display: inline-flex;
  margin: 10px;
}

.cardValue {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: absolute;
  color: #E25041;
  display: block;
  top: 8px;
  left: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 1px;
}

.cardValueTwo{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: absolute;
  color: #E25041;
  display: block;
  bottom: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 1px;
}

.cardSuit {
  width: 100px;
  top: 50%; 
  left: 50%; 
  -webkit-transform: translate(-50%, -50%); 
  position: absolute;
  max-width: 90%;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.firstCard {
  background-color: blue;
  color: blue;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
.exampleTwo-appear {
  opacity: 0.01;
}

.exampleTwo-appear.exampleTwo-appear-active {
  opacity: 1;
  transition: opacity 3.5s ease-in;
}